{% extends 'base.html' %}

{% block title %}
    Добавление груза
{% endblock %}

{% block content %}
    <h2>Создание нового груза</h2>
    <div class="col-md-6">
        <div class="h-100 p-5 text-bg-light rounded-3">

            <form method="post">
                {% csrf_token %}
                <table>
                    {{ form.as_p }}
                </table>
                <input class="btn btn-info" type="submit" value="Создать груз">
                <a href="{% url 'index' %}" class="btn btn-sm btn-outline-secondary">Назад</a>
            </form>

        </div>
    </div>

{% endblock %}