{% extends 'base.html' %}

{% block title %}
    Список грузовиков
{% endblock %}

{% block content %}

    <h3>Список грузовиков</h3>

    <a class="btn btn-outline-secondary" style="margin-left: 8px;" href="{% url 'index' %}">На главную</a>

    <div class="row">
        <div class="col-10">
            <table class="table table-image">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Номер</th>
                    <th scope="col">Местонахождение</th>
                    <th scope="col">Грузоподъемность</th>
                    <th scope="col">Редактировать грузовик</th>

                </tr>
                </thead>
                <tbody>

                {% for item in page_obj %}
                    <tr>
                    <td class="w-25"> {{ item.id }} </td>
                    <td>{{ item.number }} </td>
                    <td>{{ item.zip }} </td>
                    <td>{{ item.load_capacity }} </td>
                    <td>
                        <form method="post" action="{% url 'edit_truck' item.id %}">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-info" value="Редактировать груз">
                        </form>
                    </td>
                {% endfor %}

                </tbody>
            </table>
            <br>
        </div>
    </div>

    <br>
    <br>

    <div class='container'>
        <div class="row align-items-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
                               aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}

                    {% for page in page_obj.paginator.page_range %}
                        {% if page_obj.number == page %}
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="#">{{ page }}</a>
                            </li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>

                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}

                </ul>
            </nav>
        </div>
    </div>

{% endblock %}
